# Dependencies
node_modules/

# Next.js
.next/
out/
.vercel/

# Env
.env
.env.*
!.env.example
!.env.local.example

# OS / Editor
.DS_Store
.idea/
.vscode/

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build caches
.turbo/
.swc/


